@font-face {
    font-family: "Iranyekan";
    src: url("./fonts/IRANYekan/iranyekanweblight\(fanum\).woff2") format("woff2"), url("./fonts/IRANYekan/iranyekanweblight\(fanum\).woff") format("woff");
}

/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: Iranyekan;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* css codes */



body {
    /* background-color: #e1eff8d9; */
    margin: 0;
    /* background: rgb(255, 255, 255);
    background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(40, 148, 151, 1) 88%, rgba(0, 128, 129, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(40, 148, 151, 1) 88%, rgba(0, 128, 129, 1) 100%);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(40, 148, 151, 1) 88%, rgba(0, 128, 129, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#008081", GradientType=1);
    background-image: url("../assets/png/book-backg.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position-y: 2350px;
    background-position-x: center;
    background-size: auto;
    background-origin: padding-box; */
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 78%, rgba(40, 148, 151, 1) 97%, rgba(0, 128, 129, 1) 100%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;


}

.header {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: max-content;

}

main.main {
    /* margin-bottom: -382px !important; */
}

.navbar {
    height: 70px;
    align-content: center;
    top: 0;
    left: 0;
}

nav.navbar {
    margin-top: 16px;
    margin-bottom: 0px;
}

.container {
    padding: 10px;
}

.navbar-brand {
    float: right;
    margin-right: 20px;
}

.nav-brand {
    width: 323px;
    margin-top: 11px;
    margin-right: 10px;
}

.navbar-nav {
    float: right;
}

.nav-item {
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.form-inline {
    float: left;
    width: 220px;
    margin: 0 15px;
    background-color: #61b0b3;
    border-radius: 9px;
    padding: 2px 2px;
    vertical-align: sub;
    border: none;
    display: inline-block;
}

.form-control {
    background-color: #61b0b3;
    border: none !important;
    padding: 5px 5px;
    border-radius: 8px;
    display: inline-block;
}

input:focus {
    outline: none;
    color: black;
}

img.src-logo {
    display: inline-flex;
    align-items: center;
    padding: 3px 3px;
    vertical-align: sub;
}

.form-control::placeholder {
    color: white;
}

.right-nav {
    float: left;
}

.date {
    color: #fff;
    font-size: 13px;
}

.date {
    margin: 8px 37px;
}



button.srch-btn {
    background-color: #61b0b3;
    border: none;
}

li.nav-item {
    vertical-align: sub;
    margin-top: 35px;
    margin-right: 25px;
}

.slide-image {
    position: unset;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 92px;
}
.slide-box {
    margin-bottom: 56px 
px
;
}

.slide {
    margin: 26px 0 -63px 0;
}

.icon-slide {
    position: relative;
    height: 78px;
    bottom: 104px;
    right: 8px;
    display: inline-block;
}

.text-slide {
    position: relative;
    color: rgb(253, 252, 252);
    font-size: 13px;
    bottom: 158px;
    right: 88px;

}

.slide-nav {
    position: relative;
    bottom: 93px
}

.text-slide {
    font-weight: 800;
    font-style: normal;
    font-size: large;
}

.text-slide span {
    font-weight: 600;
    font-size: 13px;
    /* margin-top: -75px; */
    position: relative;
    top: 11px;
}

section#map {
    margin-bottom: 54px;
}
.arow img {
    position: relative;
    width: 50px;
    bottom: 185px;
    right: 300px;
}

.arow-link {
    position: relative;
    right: 9px;
}

.m-row {
    display: flex;
    vertical-align: middle;
    align-items: stretch;
    align-self: normal;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.roww .roww {
    position: absolute;
    margin: 0 8px;
    vertical-align: baseline;
    align-items: center;
    align-self: center;
    align-content: space-between;
    min-height: fit-content;
    max-width: 250px;
    max-height: 155px;
    position: absolute;
    margin: 0 5px;
}

.m-row>* {
    padding: 0;
    flex: 1 1 auto;
    display: inline;
    background-color: rgb(195, 231, 231);
    border: rgb(25, 153, 104, 0.2) solid 1px;
    border-radius: 18px;
    margin: 0 6px;
    min-width: 201px;
    max-width: 221px;
    max-height: 202px;
    vertical-align: middle;
}

.m-row>* {
    box-shadow: 0px 2px 3px 1px #bfbbbb;
}

.subject-img {
    padding: 8px;
    border-radius: 25px;
    width: 59px;
    border-style: groove;
    border: #ffffff solid 6px;
    vertical-align: middle;
    margin-left: auto !important;
    margin-right: auto !important;
    align-items: center;
    align-content: center;
    align-self: center;
    top: -30px;
}

.fma-img {
    background-color: rgb(253, 150, 116);
    position: relative;
    bottom: 54px;
    vertical-align: middle;
    display: flex;
}

.dst-img {
    background-color: #fccc90;
    position: relative;
    bottom: 54px;
    width: 65px;
    height: 60px;
    vertical-align: middle;
    display: flex;
}

.nn-img {
    background-color: #27dcde;
    position: relative;
    bottom: 54px;
    vertical-align: middle;
    display: flex;
}

.ma-img {
    background-color: #a4a4f3;
    position: relative;
    bottom: 54px;
    vertical-align: middle;
    display: flex;
}

.fmaa-img {
    background-color: rgb(253, 150, 116);
    position: relative;
    bottom: 54px;
    vertical-align: middle;
    display: flex;
}

.aroww {
    position: relative;
    bottom: 39px;
    vertical-align: middle;
    margin: auto;
    display: block;
}

.text-box {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    bottom: 35px;
    text-align: center;
    margin: 30px 0 25px 0;
}

#map {
    margin-top: 100px;
}

.map-container {
    position: absolute;
    width: 350px;
    height: 350px;
}

.hr_kerman {
    position: relative;
    color: #4e4d4d;
    font-size: 25px;
    font-weight: 700;
    bottom: 15px;
}

.hr_kerman::after {
    position: relative;
    content: " ";
    height: 2px;
    max-width: 1200px;
    min-width: 835px;
    background: rgb(122 119 119);
    display: block;
    position: absolute;
    top: 60%;
    right: 240px;
}

.img-kerman img {
    position: relative;
    width: 700px;
    display: inline-block;
    margin: auto;
    right: 376px;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.count_school p {
    font-size: 16px;
    margin: 10px 12px 10px 5px;
    padding: 0;
    font-weight: 600;
}

.count_school hr {
    width: 260px;
}

.count_school {
    background-color: #f8f8f8;
    display: block;
    width: 300px;
    text-align: start;
    padding: 4px 4px;
    margin: 5px 0 10px 0;
    border-radius: 15px;
    box-shadow: 0 0 8px 0 #c9c9c9;
}

.count_school span {
    font-weight: 600;
    position: relative;
    float: left;
    left: 20px;
    color: #06a3a3;
}

.link_short1 {
    background-color: #11eaee;
    display: block;
    width: 290px;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    font-weight: 600;
}

.link_short2 {
    background-color: #77dadb;
    display: inline-block;
    width: 290px;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    margin-top: 5px;
    font-weight: 600;
}

.side {
    position: relative;
    bottom: 330px;
}

#map {
    display: block;
}

.main {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.hr-news {
    position: relative;
    color: #5f5b5b;
    font-size: 25px;
    font-weight: 700;
    bottom: 15px;
}

.hr-news::after {
    position: relative;
    content: " ";
    height: 2px;
    max-width: 1200px;
    min-width: 890px;
    background: rgb(131, 130, 130);
    display: block;
    position: absolute;
    top: 60%;
    right: 191px;
}

.news-mini {
    position: relative;
    background-color: #F8F8F8;
    display: flex;
    width: 360px;
    font-size: 13px;
    border-radius: 12px;
    margin: 10px 0;
    width: 413px;
    box-shadow: 0 0 6px 1px #d6d3d3;
    height: 66px;
    margin: 13px -9px;
    padding: 5px 7px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

.mini-img-news {
    height: 70px;
}

.banner-news img {
    position: relative;
    bottom: 480px;
    right: 432px;
    margin-block: auto;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 #cbc5c5;
    width: 668px;
}

.news3 {
    display: block;
    height: 277px;
}

.side-news h4 {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}

section.announce {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

h4.h43 {
    position: relative;
    bottom: 50px;
}

p.p43 {
    padding: 36px 24px;
    position: relative;
    bottom: 43px;
    font-size: 15px;
    font-weight: 400;
}

.news3 small {
    position: relative;
    bottom: 58px;
    float: inline-end;
    font-size: 14px;
    left: 18px;
}

.books {
    position: relative;
    bottom: 413px;  
    background: url(../assets/png/book-backg.png);
    /* background-attachment: fixed; */
    background-position-x: -196px;
    background-position-y: -232px;
    background-size: auto;
    border-radius: 25px;
}

.hr-book {
    position: relative;
    color: #5f5b5b;
    font-size: 25px;
    font-weight: 700;
    bottom: 55px;
}

.hr-book::after {
    position: relative;
    content: " ";
    height: 2px;
    max-width: 1200px;
    min-width: 890px;
    background: rgb(131, 130, 130);
    display: block;
    position: absolute;
    top: 60%;
    right: 191px;
}

.book-row {
    position: relative;
    top: 100px;
    right: 15px;
}

.row-book {
    width: 203px;
    height: 204px;
    padding: 0;
    display: flex;

    background-color: #a6e9e9;
    border: rgb(25, 153, 104, 0.2) solid 1px;
    border-radius: 18px;
    margin: 0 6px;
    vertical-align: middle;
    vertical-align: middle;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-evenly;
}

.logo-row-book {
    background-color: rgb(253, 150, 116);
    position: relative;
    bottom: 54px;
    vertical-align: middle;
    display: flex;
    padding: 8px;
    border-radius: 25px;
    width: 59px;
    border-style: groove;
    border: #ffffff solid 6px;
    vertical-align: middle;
    margin-left: auto !important;
    margin-right: auto !important;
    align-items: center;
    align-content: center;
    align-self: center;
    top: -12px;
}

.books-text {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    bottom: 15px;
    text-align: center;
    margin: 30px 0 25px 0;
}

img.books-row {
    position: relative;
    /* vertical-align : middle; */
    margin: auto;
    display: block;
    bottom: 25px;
}

.level4 {
    width: 203px;
    height: 204px;
    padding: 0;
    position: relative;
    display: flex;
    background-color: #a6e9e9;
    border: rgb(25, 153, 104, 0.2) solid 1px;
    border-radius: 18px;
    margin: 0 6px;
    vertical-align: middle;
    min-width: 201px;
    max-width: 221px;
    max-height: 202px;
    vertical-align: middle;
    align-items: center;
    flex-wrap: nowrap;
    right: 216px;
    bottom: 204px;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-evenly;
}

.logo-row-book1 {
    background-color: rgb(134, 133, 133);
    position: relative;
    bottom: 54px;
    vertical-align: middle;
    display: flex;
    padding: 8px;
    border-radius: 25px;
    width: 59px;
    border-style: groove;
    border: #ffffff solid 6px;
    vertical-align: middle;
    /* margin-left : auto !important ;
    margin-right : auto !important ; */
    align-items: center;
    align-content: center;
    align-self: center;
    top: -12px;
}

.footer {
    position: relative;
    bottom: 8px;
    align-items: center;
    align-self: center;
}

.conn {
    display: inline-flex;
}

.conn img {
    width: 29px;
    height: 29px;
    position: relative;
    bottom: 7px;
    margin-left: 9px;
}

.contact span {
    font-size: 42px;
    color: gray;
    margin: 0 10px;
    position: relative;
    bottom: 11px;}

.logo-footer {
    position: relative;
    right: 233px;
}

.logo-footer img {
    display: inline-block;
    align-self: center;
    width: 210px;
    position: relative;
    bottom: 45px;
    left: 35px;
}

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    top:5px;
}
footer.main-footer {
    display: table;
    align-content: center;
    align-items: stretch;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.foot {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgb(43 161 163);
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    height: 60px;
    /* text-align: center;
    align-items: center; */
    align-content: flex-start;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.foot img {
    margin: 0 13px;
    width: 41px;
}

main.main {
    margin-bottom: -103px;
}


/* 
@media only screen and (max-width:1644px) {
    body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media only screen and (max-width:763px) {

    body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-end;
        justify-content: center;
        align-items: center;
    }

    main {
        display
    }
} */


/* hovers */
.roww:hover {
    box-shadow: 0px 4px 18px 0px #bfbbbb;
    transition: 0.5s;
}

/* .roww{
    position: relative;
    transform: translateY(25px);
    opacity: 1;
    transition: 4s all ease
  } */
.count_school:hover {
    box-shadow: 2px 8px 18px 3px #bfbbbb;
    transition: 1s;
}

.link_short1:hover {
    box-shadow: 2px 8px 18px 3px #bfbbbb;
    transition: 1s;
}

.link_short2:hover {
    box-shadow: 2px 8px 18px 3px #bfbbbb;
    transition: 1s;
}

.news-mini:hover {
    box-shadow: 2px 8px 18px 3px #bfbbbb;
    transition: 1s;
}

.banner-news img:hover {
    box-shadow: 2px 8px 18px 3px #bfbbbb;
    transition: 1s;
}

.row-book:hover {
    box-shadow: 2px 8px 18px 3px #bfbbbb;
    transition: 1s;
}

.nav-link:hover {
    font-size: 19px;
    transition: 0.5s;
}

.form-inline:hover {
    box-shadow: 0 0 0px 2px #61B0B3;
    transition: 0.5s;
}